.mat-select {
  background: #e6e6e6;
  padding: 10px;
}

button {
  margin-top: 20px;
  margin-left: 8px; //background: #3F51B5;
  margin-top: 10px;
  color: #fff;
}

.backCoffee {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

mat-input-container,
mat-select {
  width: 100%;
}

mat-card-title {
  font-size: larger;
}

mat-slider {
  width: 90%;
}
