<div id="addCoffee" *ngIf="!isParam">
  <form>
    <mat-card>
      <mat-card-title>
        Coffee Information
      </mat-card-title>
      <mat-input-container>
        <input matInput placeholder="Coffee Name" name="coffeeName" [(ngModel)]="coffee.name">
      </mat-input-container>
      <mat-select placeholder="Coffee Type" name="coffeeType" [(ngModel)]="coffee.type">
        <mat-option *ngFor="let type of coffeeTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Place Info
      </mat-card-title>
      <mat-input-container>
        <input matInput placeholder="Place" name="place" [(ngModel)]="coffee.place">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Address" name="addresss" [(ngModel)]="coffee.location.address">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="City" name="city" [(ngModel)]="coffee.location.city">
      </mat-input-container>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Rating Info
      </mat-card-title>
      <mat-card-subtitle>
        Overall Rating
      </mat-card-subtitle>
      <mat-slider max="10" thumbLabel name="rating" [(ngModel)]="coffee.rating" tickInterval="1"></mat-slider>
      <mat-slide-toggle #tasteRating>Taste Rating</mat-slide-toggle>

      <section id="tasting" *ngIf="tasteRating.checked">
        <label>Aroma</label>
        <mat-slider max="10" thumbLabel name="rating" [(ngModel)]="coffee.tasteRating.aroma" tickInterval="1"></mat-slider>
        <label>Body</label>
        <mat-slider max="10" thumbLabel name="rating" [(ngModel)]="coffee.tasteRating.body" tickInterval="1"></mat-slider>
        <label>Flavor</label>
        <mat-slider max="10" thumbLabel name="rating" [(ngModel)]="coffee.tasteRating.flavor" tickInterval="1"></mat-slider>
        <label>Intensity</label>
        <mat-slider max="10" thumbLabel name="rating" [(ngModel)]="coffee.tasteRating.intensity" tickInterval="1"></mat-slider>
        <label>Sweeteness</label>
        <mat-slider max="10" thumbLabel name="rating" [(ngModel)]="coffee.tasteRating.sweeteness" tickInterval="1"></mat-slider>
        <!-- aroma: number;
      body: number;
      flavor: number;
      intensity: number;
      sweeteness: number;
      afterTaste: number; -->
      </section>

    </mat-card>

    <mat-card>
      <mat-card-title>
        Add a note
      </mat-card-title>
      <mat-input-container>
        <textarea matInput placeholder="Notes" name="notes" [(ngModel)]="coffee.notes"></textarea>
      </mat-input-container>
    </mat-card>

  </form>
  <mat-card>
    <h3 *ngIf="showError" style="color:red">Please Complete the full form!!</h3>
    <button mat-raised-button (click)="addCoffee()" color="accent">Add Coffee</button>
    <button mat-raised-button (click)="navigateToHome()" color="primary">Coffee List</button>
  </mat-card>
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
<div id="coffeeInfo" *ngIf="isParam">
<mat-card>
 <mat-card-title>{{coffee.name}}</mat-card-title>
 <label><b>Place:</b></label>{{coffee.place}}<br>
 <label><b>Address:</b></label>{{coffee.location.address}}<br>
 <label><b>City:</b></label>{{coffee.location.city}}<br>
</mat-card>
<a class="backCoffee" mat-fab routerLink="/"><mat-icon>done</mat-icon></a>
</div>

<!-- <mat-card>{{coffee | json}}</mat-card> -->
