/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0;
  background: #f2f2f2;
}

.mat-card{
  margin: 8px;
  margin-top:20px;
}
